


body {
    font-family: 'inter', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom right, #4CAF50, #2196F3);
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}



.logo {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
}

button {
    background: #4CAF50;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #3e8e41;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #fff;
}

h1 {

text-align: center;
color: #fff;

}


